.Project {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    padding-bottom: 15px;
}
.Project:hover {
    background-color: rgba(0, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ProjectLink {
    text-decoration: none;
    color: inherit;
}
.LeftProject {
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.RightProject {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    opacity: 1;
    z-index: 9999;
    position: relative;
}
img.no-blur {
    filter: none !important;
    transition: none !important;
}
.ProjectImg {
    border: 2px solid rgb(78, 86, 101);
    border-radius: 2px;
    width: 80%;
}
.Project:hover .ProjectImg {
    border: 2px solid rgb(118, 126, 141);
    transition: border-color 0.1s ease 0.1s;
}
.Project:hover .TypeCircle {
    background-color: rgb(10, 35, 54);
}
.Project:hover .ArrowIcon {
    transform: translate(5px, -5px);
}