.Project {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    padding-bottom: 15px;
}
.ProjectLink {
    text-decoration: none;
    color: inherit;
}
.LeftProject {
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.RightProject {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
img {
    max-width: 100%;
    height: auto;
    opacity: 1;
    z-index: 9999;
    position: relative;
}
img.no-blur {
    filter: none !important;
    transition: none !important;
}